#lostMap 
    {
        margin-left:auto; margin-right:auto;
        height: 600px;
			width: 800px;
    }

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper 
        {
    		background: #e93434;
    		color: #ffffff;
		}

footer 
    {
        text-align: center;
    }

section p
    {
        text-align: center;
    }
.NavBar
    {
        text-align: center;
    
    }
.found_Form_button
    {
    
     border: 1px dotted gray;
     padding: 20px;
     font-size: 20px;
        
    }

#found_Form
{
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;   
}

#search
{
    padding-top: .1em;
    text-align: center;   
}